/* Possibly add card flip animations later:
https://www.w3schools.com/howto/howto_css_flip_card.asp */

body {
  height: 85%;
  width: 100%;
  display: flexbox;
  background: url(img/meadow.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  max-width: fit-content;
  margin: 0 auto;
  padding: 0.25rem;
  font-family: cursive;
  text-align: center;
  border: 3px double #ffffff;
  border-radius: 5px;
  color: #ff5191;
  background-color: #ffe057;
  box-shadow: 2px 2px 2px #b97f00;
}

h5 {
  margin: 0.5rem auto;
  min-width: 7rem;
  max-width: fit-content;
  padding: 0.25rem;
  font-family: cursive;
  border: 2px double #a8a8a8;
  border-radius: 3px;
  color: #4e4e4e;
  background-color: #f7f7f7;
  box-shadow: 2px 2px 2px #b0b0b0;
}

button {
  display: block;
  margin: 0.5rem auto;
  min-width: 6rem;
  font-family: cursive;
  border: 2px double #a8a8a8;
  border-radius: 3px;
  color: #4e4e4e;
  background-color: #f7f7f7;
  box-shadow: 2px 2px 2px #b0b0b0;
}

#container {
  margin: 0 auto;
  padding: 1.15rem 0.75rem 1.5rem 1.15rem;
  /* padding-left: 1.4rem; */
  width: 50vw;
  border-radius: 25px;
  background-color: #e2e2e263;
}

button:hover {
  cursor: pointer;
  background-color: rgb(234, 234, 234);
  transition: background-color 0.25s;
}

#cards {
  text-align: center;
}

#cards div {
  border: 2px double #ffffff;
  border-radius: 3px;
  width: 10rem;
  height: 10rem;
  margin: 0.32rem;
  padding: 0.5rem 0.5rem;
  display: inline-block;
}

@media screen and (max-width: 1600px) {
  #cards div {
    width: 9rem;
    height: 9rem;
  }
}

@media screen and (max-width: 1400px) {
  #cards div {
    width: 8rem;
    height: 8rem;
  }
}

@media screen and (max-width: 1300px) {
  #cards div {
    width: 7rem;
    height: 7rem;
  }
}

@media screen and (max-width: 1200px) {
  #container {
    width: 60vw;
  }
}

@media screen and (max-width: 1000px) {
  #container {
    width: 65vw;
  }
}

@media screen and (max-width: 900px) {
  #container {
    width: 70vw;
  }
}

@media screen and (max-width: 800px) {
  #container {
    width: 75vw;
  }

  #cards div {
    width: 6.3rem;
    height: 6.3rem;
  }
}

@media screen and (max-width: 700px) {
  #container {
    width: 80vw;
  }

  #cards div {
    width: 5.6rem;
    height: 5.6rem;
  }
}

@media screen and (max-width: 600px) {
  #container {
    width: 85vw;
  }

  #cards div {
    width: 4.7rem;
    height: 4.7rem;
  }
}

@media screen and (max-width: 500px) {
  #container {
    width: 90%;
  }

  #cards div {
    width: 4.2rem;
    height: 4.2rem;
  }
}

@media screen and (max-width: 450px) {
  #cards div {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media screen and (max-width: 400px) {
  #cards div {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 350px) {
  #container {
    width: 95%;
  }

  #cards div {
    width: 2.6rem;
    height: 2.6rem;
  }
}

@media screen and (max-width: 300px) {
  #container {
    width: 95%;
  }

  #cards div {
    width: 2.2rem;
    height: 2.2rem;
  }
}

.cardCover {
  background-color: #ed7fa7;
  background-image: none;
}

.cardCover:hover {
  cursor: pointer;
  background-color: #d1648c;
  transition: background-color 0.5s;
}

.cardReveal {
  background-color: #ea659600;
  background-image: none;
  transition: background-color 0.75s;
}

/* setup classes per butterfly (should be 8) */
.monarch {
  background-image: url('img/monarch.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.swallowtail {
  background-image: url('img/swallowtail.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.buckeye {
  background-image: url('img/buckeye.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sulphur {
  background-image: url('img/sulphur.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nymph {
  background-image: url('img/nymph.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.whites {
  background-image: url('img/whites.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fritillary {
  background-image: url('img/fritillary.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.skipper {
  background-image: url('img/skipper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
